
<h2>Tasks</h2>

<p><strong>Here is the list of pending HumanTask activities.</strong></p>
    
<ul>
    <% keys.forEach(function(key){ %>
    <li><a href='/localtask/activity/<%= querystring_escape(key) %>'><%= key %></a></li>
    <% }) %>
</ul>


<% if( keys.length === 0) { %>

<p>Nothing to do...</p>


<script>
setTimeout(function() {
    window.location = window.location;
}, 3000);
</script>

<% }  %>
